Repository andrewaylett/eslint-config-andrewaylett: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-dedupe, npm-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
    exclude: \.snap$
  - id: end-of-file-fixer
    exclude: ^\.idea
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
  - id: mixed-line-ending
  - id: pretty-format-json
    exclude: package-lock\.json
    args:
    - --autofix
    - --top-keys
    - name,description,version,author,license,type,engines,exports,repository,scripts,dependencies,devDependencies,peerDependencies
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 3.2.1
  hooks:
  - id: editorconfig-checker
    exclude_types:
    - javascript
    - ts
    - markdown
    exclude: LICENSE
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.1.0
  hooks:
  - id: prettier
    exclude_types:
    - json
    - yaml
    - ts
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: https://github.com/google/yamlfmt
  rev: v0.17.1
  hooks:
  - id: yamlfmt
- repo: local
  hooks:
  - id: npm-dedupe
    name: npm dedupe
    files: package-lock\.json
    language: system
    entry: npm dedupe
    pass_filenames: false
  - id: npm-lint
    name: npm lint
    files: \.[cm]?[tj]sx?$
    language: system
    entry: npm run lint:fix
    pass_filenames: false

Use my (new) standard pre-commit hooks
  .github/workflows/cleanup.yml
  .pre-commit-config.yaml
  .yamlfmt.yaml
  renovate.json
Due: none

Stricter TS checks
  src/index.ts
  src/merge.ts
  src/rules/no-enum.ts
  tsconfig.json
Due: npm-lint

Make sure we're linting ourselves properly
  .pre-commit-config.yaml
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/facets/import.ts
  src/facets/typescript.ts
  src/index.ts
  src/merge.ts
  src/plugins/sort-destructure-keys.ts
  src/presets.ts
  src/rules/no-enum.ts
  src/types/eslint-plugin-eslint-comments.d.ts
  src/types/eslint-plugin-sort-destructure-keys.d.ts
Due: npm-dedupe, npm-lint

Use test-in-build to validate the package works when used
  .editorconfig
  .github/workflows/main.yml
  .pre-commit-config.yaml
  eslint.config.mjs
  package-lock.json
  package.json
  src/facets/recommended.ts
  src/facets/typescript.ts
  test/failing/.keep
  test/runner.ts
  test/successful/.keep
  test/successful/basic/eslint.config.mjs
  test/successful/basic/expect.cjs
  test/successful/basic/package.json
  test/tsconfig.json
  tsconfig.json
Due: npm-dedupe, npm-lint

6.1.0
  package-lock.json
  package.json
Due: npm-dedupe

Add NodeJS 24 to CI, upgrade react lints
  .github/workflows/main.yml
  AGENTS.md
  CLAUDE.md
  package-lock.json
  package.json
  src/facets/react.ts
Due: npm-dedupe, npm-lint

Add and use tool versions file
  .github/workflows/main.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .tool-versions
Due: none

Run npm dedupe
  package-lock.json
Due: npm-dedupe

7.0.0
  package-lock.json
  package.json
Due: npm-dedupe

Set up trusted publishing
  .github/workflows/npm-publish.yml
Due: none

Upgrade dependencies, Node version support, bring in more rules
  .github/workflows/main.yml
  .tool-versions
  AGENTS.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/facets/import.ts
  src/facets/react.ts
  src/facets/recommended.ts
  src/facets/typescript.ts
  src/index.ts
  src/merge.ts
  src/plugins/sort-destructure-keys.ts
  src/presets.ts
  src/rules/no-enum.ts
  src/types/eslint-plugin-eslint-comments.d.ts
  src/types/eslint-plugin-import.d.ts
  src/types/eslint-plugin-sort-destructure-keys.d.ts
  test/failing/type-imports-split-duplicates/eslint.config.mjs
  test/failing/type-imports-split-duplicates/expect.cjs
  test/failing/type-imports-split-duplicates/package.json
  test/failing/type-imports-split-duplicates/src/index.ts
  test/failing/type-imports-split-duplicates/src/module.ts
  test/failing/type-imports-wrong-order/eslint.config.mjs
  test/failing/type-imports-wrong-order/expect.cjs
  test/failing/type-imports-wrong-order/package.json
  test/failing/type-imports-wrong-order/src/index.ts
  test/failing/type-imports-wrong-order/src/types.ts
  test/failing/type-imports-wrong-order/src/values.ts
  test/successful/type-imports-combined/eslint.config.mjs
  test/successful/type-imports-combined/expect.cjs
  test/successful/type-imports-combined/package.json
  test/successful/type-imports-combined/src/index.ts
  test/successful/type-imports-combined/src/module.ts
  test/successful/type-imports-correct-order/eslint.config.mjs
  test/successful/type-imports-correct-order/expect.cjs
  test/successful/type-imports-correct-order/package.json
  test/successful/type-imports-correct-order/src/index.ts
  test/successful/type-imports-correct-order/src/types.ts
  test/successful/type-imports-correct-order/src/values.ts
Due: npm-dedupe, npm-lint
